each log in history
  p(style='text-align:center')= log.id
  table(border='1', cellpadding='1', cellspacing='1', width='717', style='border-collapse:collapse')
    tbody
      tr(height='23', style='background: #000;color: #fff;font-weight: bold;')
        td(height='23',width='10') 项目
        td(width='10') 增加行数
        td(width='10') 删除行数
        td(width='10') 净增量
        td(width='30') 分支操作数目
        td(width='60') 提交数
        td(width='60') 行数提交比
      - var add_count=remove_count=cute_count = 0;
      each item in log.data
        if item.add != 0
          tr(height='23')
            td(height='23')= item.name
            td(align='right')= item.add
            td(align='right')= item.remove
            td(align='right')= item.add - item.remove
            td(align='right')= item.branches
            td(align='right')= item.submitCount
            td(align='right')= item.ratio.toFixed(2)
          - add_count+=item.add*1
          - remove_count+=item.remove*1
          - cute_count=cute_count*1+item.add*1-item.remove*1
      tr(height='23', style='height:17.4pt')
          td(height='23', style='height:17.4pt;border-top:none')
          td(align='right')= add_count
          td(align='right')= remove_count
          td(align='right')= cute_count
          td(align='right')
          td(align='right')
          td(align='right')
  br
  table(border='1', cellpadding='1', cellspacing='1', width='717', style='border-collapse:collapse')
    tbody
      tr(height='23', style='height:17.4pt;background: #000;color: #fff;font-weight: bold;')
        td(width='10') 用户
        td(width='10') 增加行数
        td(width='10') 删除行数
      each item, key in log.user
        tr(height='23', style='height:17.4pt')
          td(height='23', style='height:17.4pt;border-top:none')= key
          td(align='right')= item.add
          td(align='right')= item.remove